.projectsContainer {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.projectsTitle {
  font-size: 60px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .projectsContainer {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}