.container {
  display: grid;
  grid-template-columns: minmax(50%, 100%) minmax(50%, 100%);
  padding: 80px;
}

.heroText {
  text-align: center;
}

.heroText__title {
  font-size: 60px;
  font-weight: lighter;
}

.heroText__description {
  font-size: larger;
}

.heroImage {
  place-self: center;
}

.heroImage img {
  border-radius: 50%;
}